global:
  scrape_interval: 5s
  evaluation_interval: 5s

rule_files:
  - /etc/prometheus/alerts.yml

scrape_configs:
  - job_name: dcgm-exporter
    static_configs:
      - targets:
          - dcgm-exporter:9400

alerting:
  alertmanagers:
    - static_configs:
        - targets:
            - alertmanager:9093
